@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";

* {
  font-family: "Hind";
}

body {
  @apply dark:bg-black dark:text-white;
}

.gradient-circle {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  top: -30px;
  height: 40px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(40px);
  background: radial-gradient(
    circle,
    rgb(98, 9, 199) 0%,
    rgba(21, 21, 49, 0.8) 100%
  );
}
.gradient-circle-bottom {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  bottom: -20px;
  height: 30px;
  width: 100vw;
  opacity: 0.5;
  filter: blur(40px);
  background: radial-gradient(
    circle,
    rgba(248, 107, 223, 1) 0%,
    rgba(255, 11, 11, 0.8) 100%
  );
}

.gradient-shadow:hover::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-45deg, #ffffff 0%, #5c1a31 100%);
  transform: translate3d(0px, 20px, 0) scale(0.95);
  filter: blur(20px);
  opacity: var(0.7);
  transition: opacity 0.3s;
  border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
.gradient-shadow:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}

/* Ensure there's no rule setting the cursor to 'none' or other custom styles */
* {
  cursor: auto; /* or default */
}

.sketch-underline {
  display: block;
  width: 100%;
  height: 3px; /* Adjust height for thickness */
  background: linear-gradient(90deg, rgba(240, 233, 233, 0) 0%, rgba(114, 130, 216, 0.5) 50%, rgba(0,0,0,0) 100%);
  background-size: 100% 3px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1; /* Ensure it's behind the text */
  animation: sketchyUnderline 2s infinite;
}

@keyframes sketchyUnderline {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.about-section {
  position: relative;
}
.floating-logo {
  position: absolute;
  animation: float 5s ease-in-out infinite;
  /* Adjust the size and position */
  width: 50px; /* Example size */
  top: 20px; /* Example position */
  left: 30px; /* Example position */
}
@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.relative {
  position: relative;
}

.floating-elements-container {
  position: absolute;
  pointer-events: none; /* Ensure the floating elements do not interfere with text */
}

.floating-logo,
.floating-text {
  position: absolute;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Custom Tailwind CSS additions in your global CSS file */
@media (max-width: 640px) {
  .floating-elements-container {
    z-index: -1; /* Ensure floating elements are behind text on mobile */
  }

  .floating-element {
    opacity: 0.2; /* Adjust opacity for a subtler effect on mobile */
    transform: scale(0.8); /* Optional: resize for mobile */
  }
}

